name: Release


on: 
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag/version'     
        required: true
        default: '3.0.0'
      
      action_tag:
        description: 'create tag ("no" to skip)'     
        required: true
        default: 'yes'
        
      release_AEPAnalytics:
        description: 'release AEPAnalytics ("no" to skip)'
        required: true
        default: 'yes'

jobs:
  release_analytics:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    
    - name: Install jq
      run: brew install jq
    
    - name: Install cocoapods
      run: gem install cocoapods

    - name: Check version in Podspec
      run: |
        set -eo pipefail
        echo Target version: ${{ github.event.inputs.tag }}
        make check-version VERSION=${{ github.event.inputs.tag }}
    
    - name: Pod repo update
      run: | 
        pod repo update

    - name: SPM integration test
      if: ${{ github.event.inputs.action_tag == 'yes' }}
      run: |
        set -eo pipefail
        echo SPM integration test starts:
        make test-SPM-integration
    
    - name: podspec file verification
      if: ${{ github.event.inputs.action_tag == 'yes' }}
      run: |
        set -eo pipefail
        echo podspec file verification starts:
        make test-podspec 
        
    - uses: release-drafter/release-drafter@v5
      if: ${{ github.event.inputs.action_tag == 'yes' }}
      with:
        name: v${{ github.event.inputs.tag }}
        tag: ${{ github.event.inputs.tag }}
        version: ${{ github.event.inputs.tag }}
        publish: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    
    - name: Publish Pods - AEPAnalytics
      if: ${{ github.event.inputs.release_AEPAnalytics == 'yes' }}
      run: |
        set -eo pipefail
        pod trunk push AEPAnalytics.podspec --allow-warnings --synchronous --swift-version=5.1
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}

  